.post {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(33,255,214,0.93); 
    padding: 1em; 
    background-color: black;
}

h2{
    color:white; 
}

img{
    border: 1px solid white; 
}

a{
    text-decoration: none;
    margin: 1em; 
    color: white; 
}

a:hover{
    color: rgba(33,255,214,0.93); 
    border: 1px solid rgba(33,255,214,0.93); 
}